@import "./mixins";

/******** Custom fonts ********/
@font-face {
    font-family: "MainFont";
    src: url("../fonts/font.otf");
}

@font-face {
    font-family: "Numbers";
    src: url("../fonts/numbers.ttf");
}

html {
    width: 100%;
    height: 100%;
    /******** Set up the different background for each html page ********/
    body {
        &.menu              {@include background("../images/menu.jpg");}
        &.instructions      {@include background("../images/instructions.jpg");}
        &.intro             {@include background("../images/castle.gif");}
        &.start-room        {@include background("../images/start_room.jpg");}
        &.hall              {@include background("../images/hall.jpg");}
        &.merchant          {@include background("../images/merchant.jpg");}
        &.shop              {@include background("../images/merchant.jpg");}
        &.inventory         {@include background("../images/cells_background.jpg");}
        &.downstairs        {@include background("../images/shadow-mosnter.jpg");}
        &.downstairs-enter  {@include background("../images/downstairs-door.jpeg");}
        &.upstairs          {@include background("../images/upstairs.jpg");}
        &.dimitrescu-room   {@include background("../images/dimitrescu-room.jpg");}
        &.amulet            {@include background("../images/amulet.jpg");}
        &.meeting-dimitrescu{@include background("../images/dimitrescu-light.jpg");}
        &.fight-dimitrescu  {@include background("../images/dimitrescu-rage.jpg");}
        &.exit              {@include background("../images/exit.jpg");}
        &.outside           {@include background("../images/outside.jpg")}
    }
}

/******** Menu page style (index.html) ********/
.menu {
    #game-name {
        @include configureButtons;
        font-size: 10vw; /* autoresizing of the font */
        letter-spacing: 15px;
        top: 10%;
        color: black;
    }

    #start-link {
        @include configureButtons;
        top: 55%;
    }
    
    #instructions-link {
        @include configureButtons;
        top: 65%;
    }
    
    #start-link:hover, #instructions-link:hover {
        color: rgb(210, 182, 27);
    }
}

/******** Text of the instruction page style (instructions.html) ********/
#instructions-text {
    font-size: 2.5vw;
    font-family: "MainFont";
    letter-spacing: 2px;
    margin: 10% 14%;
    width: 30%;
    animation: transitionIn 2.75s;
}

/******** Animation on page load ********/
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-50deg);
    }
    to {
        opacity: .7;
        transform: rotateX(0);
    }
}

/********Number style ********/
.numbers {
    font-size: 45px;
    font-family: "Numbers";
}

/******** ⪻ back arrow style for the instructions page (instructions.html) ********/
.back-arrow {
    font-size: 4vw;
    position: absolute;
    top: 5%;
    left: 5%;
    text-decoration: none;
    color: black;

    &:hover {
        color: white;
    }
}

/******** ⪻ back arrow style in shop page (shop.html) ********/
.back-arrow-shop {
    font-size: 4vw;
    position: absolute;
    top: 70%;
    left: 15%;
    text-decoration: none;
    color: rgb(210, 182, 27);

    &:hover {
        color: white;
    }
}

/******** The entire grid structure containing the left side with text and the right side with images ********/
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* !!! */
    grid-gap: 50px;
    width: 83%;
    position: absolute;
    left: 58.4%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/******** Left side with text ********/
.intro-text-box {
    @include textBox;
    height: 730px; /* set fixed size, so if overflow happens, then scroll will work */
    grid-row: span 3 / auto; /* divides the second column on three rows */
}

.startRoom-text-box {@include textBox;height: 275px;}

.hall-text-box {
    @include textBox;
    height: 275px;
    grid-row: span 3 / auto;
}

.merchant-text-box {
    @include textBox;
    height: 795px;
    grid-row: span 2 / auto;
}

.downstairs-enter-text-box {
    @include textBox;
    height: 275px;
}

.exit-text-box {
    @include textBox;
    height: 390px;
}

.upstairs-enter-text-box {
    @include textBox;
    height: 405px;
    grid-row: span 2 / auto;
}

.meeting-dimitrescu-text-box {
    @include textBox;
    height: 195px;
}

.dimitrescu-room-text-box {
    @include textBox;
    height: 275px;
}

/******** Right side with images ********/
.image-box {
    position: relative;
    width: 550px;
    height: 300px;

    img {
        transition: transform 1s; /* Animation */
        width: 22vw;
        height: 100%; 
        border: 1px solid rgb(210, 182, 27);
        border-radius: 10px;

        &:hover {
            transform: scale(1.3); /* 130% zoom */
            visibility: visible;
            opacity: 1;
        }
    }

    .img-description {
        font-size: 30px;
        font-family: "MainFont";
        letter-spacing: 5px;
        position: absolute;
        bottom: 0;
        color: white;
        visibility: none;
        opacity: 0;
    }

    &:hover .img-description {
        transition: transform 1s; /* Animation */
        transform: scale(1.5); /* 150% zoom */
        visibility: visible;
        opacity: 1;
    }
}

/******** Passcode style (exit.html) ********/
.passcode-area {
    display: flex;
    flex-direction: column;
}

$char-w: 1ch;
$gap: 0.5 * $char-w;
$n-char: 4;
$in-w: $n-char * ($char-w + $gap);

.input-passcode {
    display: block;
	border: none;
	padding: 0;
	width: $in-w;
	background: repeating-linear-gradient(90deg, 
    white 0, white $char-w, 
		transparent 0, transparent $char-w + $gap) 
		0 100%/ #{$in-w - $gap} 2px no-repeat;
    font-family: "Numbers";
    font-size: 55px;
	letter-spacing: $gap;
	
	&:focus {
		outline: none;
		color: rgb(210, 182, 27);
	}
}

/******** Invisible box so the user can interact with an exit door as 
with background image of the page which is clickable (hall.html) ********/
.invisible-box {
    display:block;
    position: absolute;
    top: 70%;
    left: 47.5%;
    width: 130px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0);
}

/******** Custom way to display door code image (exit.html) ********/
#image-doorcode-box {
    position: relative;
    width: 20vw;
    height: 50vh;
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
}

/******** Fight controls (fight-dimitrescu.html) ********/
.fight-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******** Positioning of the left and right arrows on the sides for use in the text box ********/
.container {
    .back {float: left;}
    .next {float: right;}
}

/******** Styling arrows which are used in a text box ********/
#back, #next {
    color: white;
    text-decoration: none;
    &:hover {color: rgb(210, 182, 27);}
}

/******** Animated live arrow to point the user to important places not to miss (start-room.html and hall.html) ********/
.arrow span {
    @include animated-arrow;
}

.arrow span:nth-child(2), .arrow2 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3), .arrow2 span:nth-child(3) {
    animation-delay: -0.4s;
}

.arrow2 span {
    @include animated-arrow;
    position: absolute;
    top: 82%;
    left: 49.2%;
}
/******** Additional live arrow animation effects ********/
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}
/******** Use of color in a different character name so it can be distinguished in dialogue ********/
#merchant-name {
    color: rgb(210, 182, 27);
}

#ethan-name {
    color: red;
}

#dimitrescu-name {
    color: rgb(54, 108, 216)
}

/******** Fit the video to the right place on the merchant page (merchant.html) ********/
.video {
    width: 30vw;
    border-radius: 10px;
}

#game-over-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/******** Popup text style when the main character dies (lost-battle.html and trap.html) ********/
.popup-text {
    font-size: 100px;
    color: rgb(255, 0, 0);
    font-family: "MainFont";
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 100;
    opacity: 1;
    transform: translate(-50%, -50%);
}

/******** Popup text style when the main character successfully escape the castle ********/
.end-text {
    font-size: 70px;
    color: rgb(162, 15, 15);
    font-family: "MainFont";
    letter-spacing: 4px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******** Hide element until set javascript timer expires to show up it ********/
.hide {
    display: none;
}

/******** Exit button which is shown when the main character dies (lost-battle.html and trap.html) ********/
#game-over-exit {
    font-size: 80px;
    color: white;
    font-family: "MainFont";
    letter-spacing: 5px;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-decoration: none;
}

#game-over-exit:hover {
    color: rgb(210, 182, 27);
}

/******** Shop button which is shown when the main character wants to go to shop ********/
#shop_button {
    font-family: "MainFont";
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    max-height: 70px;
    width: 8vw;
    margin-left: 270px;
    padding-top: 25px;
    background-color: rgb(210, 182, 27);
    border-radius: 10px;
    border: 6px solid rgb(0, 0, 0);
    box-shadow: rgb(210, 182, 27) 0 10px 20px -10px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#shop_button:hover {
    background-color: rgb(140, 16, 16);
    box-shadow: rgb(140, 16, 16) 0 10px 20px -10px;
}

/******** Grid table showing the character available items to buy (shop.html) ********/
.shop-grid {
    width: 900px;
    display: flex;
    text-align: right;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/******** 1st and 2nd grid column ********/
.column1, .column2{
    width: 100%;
    height: 100%;
}

/******** The "Buy" button is located relative to the price of the product on the right (shop.html) ********/
.buy-button {
    @include button;
    position: relative;
    left: 70px;
}

.buy-button:hover, .fight-button-attack:hover, .control-button:hover {
    box-shadow:
   0px 0px 30px 0px rgb(162, 15, 15),
   0px 0px 30px 0px rgb(142, 11, 11),
   0px 0px 30px 0px rgb(93, 10, 10),
   0px 0px 35px 0px rgba(72, 7, 7, 0.067);
   color: black;
   background-color: rgb(210, 182, 27);
}

/******** Fight button to attack enemy (fight-dimitrescu.html) ********/
.fight-button-attack {
    @include button;
    font-size: 23px;
    width: 225px;
    height: 60px;
    margin-right: 20px;
}

/******** Control button to move the character to the battle page and exit from that page (died or survived) (fight-dimitrescu.html) ********/
.control-button {
    display: inline-block;
    text-align: center;
    @include button;
    font-size: 23px;
    width: 200px;
    height: 37px;
    margin-right: 20px;
    text-decoration: none;
}

/******** Cells of the shop grid which do not contain a number (shop.html) ********/
.cell {
    @include shopBox;
    padding: 5px 5px 5px 10px;
    margin: 20px;
    font-size: 45px;
    font-family: "MainFont";
}

/******** Cells of the shop grid which contain a number (shop.html) ********/
.cell-contains-number {
    @include shopBox;
    padding: 5px 5px 5px 70px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 35px;
    font-family: "Numbers";
}

/******** Header cells of the shop grid (shop.html) ********/
.cell:nth-child(1) {
    justify-content: center;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    background-image: url("../images/top_cells_background.jpg")
}

/******** Style the first row of cells of the shop grid (shop.html) ********/
.cell:nth-child(2), .cell:nth-child(3), .cell:nth-child(4) {
    border: 2px solid rgb(210, 182, 27);
    color: rgb(210, 182, 27);
}

/********  Styling of the inventory table (inventory.html) ********/ 
#header {
    display: inline;
    position: relative;
    left: 12.5%;
}

#inventory {
    border-radius: 10px;
    overflow: auto;
    position: absolute;
    top: 4%;
    left: 2.5%;
    border: 0;
}

table {
    font-family: "Numbers";
    border-collapse: separate;
    border-spacing: 15px 15px;

    #hp, #money, #armour, #ammo, #key {
        color: white;
    }
}

h1 {
    font-family: "MainFont";
    letter-spacing: 15px;
    color: rgb(210, 182, 27);
}

th {
    background-color: rgba(210, 182, 27, 0.4);
}

th, td {
    width: 150px;
    text-align: center;
    border: 2px solid rgb(210, 182, 27);
    padding: 5px;
}

#gun {
    height: 20px;
}

#pin {
    font-family: "MainFont";
    font-size: 30px;
    letter-spacing: 5px;
    height: 60px;
    color: rgb(210, 182, 27);
    display: block;
    position: absolute;
    top: 64.5%;
    left: 49.4%;
}